:root {
    --primary-clr: #0f2d25;
    --light-font-clr: #fffafa;
    --dark-font-clr: #444;
    --green-btn-clr: #008060;
    
    --section-padding: 5%;
    --content-max-width: 1250px;
    --content-max-width-md: 1000px;
    --section-margin: 80px;

    --form-content-width: 900px;
    --form-border-radius: 0.3rem;
    --form-border-clr: #6b7177;
}

html {
    font-size: 16px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

:focus-visible {
    outline: 3px solid rgb(105, 168, 128);
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: var(--dark-font-clr)
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:active {
    background-color: #ffffff41;
}

img {
    display: block;
    width: 100%;
}

/* -----------------Modifiers----------------- */

.dark--background {
    background-color: var(--primary-clr);
    color: var(--light-font-clr)
}

.subtitle {
    font-size: 1.2rem;
}

/* -----------------Form----------------- */

.form {
    margin: 0 auto;
    margin-block: 50px 80px;
}

.form--centered {
    margin: 0 auto;
    margin-block: 50px 80px;
    max-width: 800px;
    text-align: center;
}

.form__container {
    max-width: var(--content-max-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.form__container > * {
    flex-grow: 1;
    border-radius: var(--form-border-radius);
    height: 80px; 
}

.form__container input {
    flex-basis: 350px;
    min-width: 70%;
    padding: 0 1.5rem;
    font-size: inherit;
    font-family: inherit;
    border: none;
    box-shadow: 0 0 0 1px var(--dark-font-clr);
}

.form__container button {
    background-color: var(--green-btn-clr);
    color: var(--light-font-clr);
    border: none;
    cursor: pointer;
    padding: 0 2rem;
    font-size: inherit;
    font-family: inherit;
    box-shadow: 0 0 0 1px var(--green-btn-clr);
}

.form__container button:active {
    box-shadow: none;
}

.form__container .black--button {
    background-color: black;
}

/* -----------------Main----------------- */

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    max-width: 190px;
    margin-top: 25px;
}

.header__content {
    max-width: var(--content-max-width);
    padding-inline: var(--section-padding);
}

.header__img {
    background-image: linear-gradient(var(--primary-clr) 45%, white 45%);
    width: 100%;
}

.header__img div {
    margin: 0 auto;
    max-width: 900px;
    padding-inline: var(--section-padding);
}

.perks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: var(--content-max-width-md);
    margin: 0 auto;
    margin-block: var(--section-margin);
    padding-inline: var(--section-padding);
}

.perks > * {
    flex-grow: 1;
    flex-basis: 250px;
}

.perks__icon {
    max-width: 45px;
}

.brands {
    max-width: var(--content-max-width-md);
    margin: 0 auto;
    margin-block: var(--section-margin);
}

.brands__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-block: var(--section-margin);
}

.brands__content > * {
    flex-basis: 150px;
}

.testimonial {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__icon {
    max-width: 50px;
}